#math {
    height: 500px;
    width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#lcd {
    text-align: right;
    padding: 1rem;
    font-size: 2.5rem;
    overflow: scroll;
    border: 1px solid #eaeaea;
    border-radius: 0.25rem;
}

#numbers {
    align-content: center;
    width: 100%;
    font-size: 1rem;
}

#numbers button {
    width: 30%;
    height: 20%;
    padding: 1rem;
}

