html, body {
    font-family: 'Audiowide', cursive;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 5px solid;
    border-color: #2ED9EB;
}